NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your_project_id
NEXT_PUBLIC_APPWRITE_DATABASE_ID=your_database_id

APPWRITE_API_KEY=your_api_key

NEXT_PUBLIC_USERS_COLLECTION_ID=users
NEXT_PUBLIC_CONFERENCES_COLLECTION_ID=conferences
NEXT_PUBLIC_APPLICATIONS_COLLECTION_ID=applications
NEXT_PUBLIC_APPLICATION_COMMENTS_COLLECTION_ID=application_comments
NEXT_PUBLIC_APPLICATION_HISTORY_COLLECTION_ID=application_history
NEXT_PUBLIC_CONFERENCE_SCHEDULE_COLLECTION_ID=conference_schedule

NODE_ENV=development